{{!-- RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 2
Author and ID: Doan(ss3978798), Sang(s3975979)
Acknowledgement: Acknowledge the resources that you use here.--}}
<body>
    {{#if check_customer}}
    {{> homepage_header}}
    {{/if}}



    {{#if check_vendor}}

    {{/if}}


    {{#if check_shipper}}

    {{/if}}
    <main>
        <div class="row">
            <div class="profile-sidebar col-4">
                <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
                    <nav class="sticky-top nav nav-pills flex-column">
                        <a class="nav-link" href="#item-1"><i class="fa-solid fa-gear"></i> <span
                                class="profile-sidebar-text">Manage Account</span></a>
                        <!--Only Customer has 'My Orders'-->
                        {{#if check_customer}}
                        <a class="nav-link" href="#item-2"><i class="fa-sharp fa-solid fa-file-invoice-dollar"></i>
                            <span class="profile-sidebar-text">My Orders</span></a>
                        <!---->
                        <a class="nav-link" href="/home"><i class="fa-solid fa-house"></i> <span
                                class="profile-sidebar-text">Home</span></a>
                        {{/if}}
                        <a class="nav-link" href="/logout"><i class="fa-solid fa-right-from-bracket"></i> <span
                                class="profile-sidebar-text">Log Out</span></a>
                        <nav class="nav nav-pills flex-column"></nav>
                    </nav>
                </nav>
                </nav>
            </div>

            <div class="profile-info col-8">
                <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true"
                    class="scrollspy-example-2" tabindex="0">
                    <div id="item-1" class="container mb-5 mt-3">
                        <h3>Manage Account</h3>
                        <hr>
                        <!--Customer Profile-->
                        {{#if check_customer}}
                        <div class="card">
                            <div class="card-header">
                                My Profile
                            </div>
                            <div class="card-body">
                                <div class="upload my-3">
                                    <img src="data:image/png;base64,{{loggedInUser.img}}" alt="user_image">
                                    <div class="round">
                                        <form action="/customer-account" method="post" enctype="multipart/form-data">
                                            <input type="file" name="image">
                                            <i class="fa fa-camera" style="color: #fff;"></i>
                                        </form>
                                        
                                    </div>
                                </div>

                                <div class="upload my-3">
                                    <img src="data:image/png;base64,{{loggedInUser.img}}" alt="">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="round border border-0" data-bs-toggle="modal" data-bs-target="#editpictureModal"><i class = "fa fa-camera" style = "color: #fff;"></i></button>
                                    <!-- Modal -->
                                    <div class="edit-picture modal fade" id="editpictureModal" tabindex="-1" aria-labelledby="editpictureModalLabel" aria-hidden="true">
                                        <div class="edit-picture modal-dialog modal-dialog-centered">
                                            <div class="edit-picture modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="editpictureModalLabel">Edit Profile Picture</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row justify-content-center row-gap-3">
                                                        <form id="add-product-form" action="/customer-account/{{loggedInUser.user_id}}/update" method="post" enctype="multipart/form-data" class="col-md-8 col-10 bg-light p-3 my-3 rounded">
                                                            <div class="form-group mb-2">
                                                                <label for="profile-pic" class="form-label">Profile Picture:</label>
                                                                <div class="input-group mb-3">
                                                                <input type="file" name="image" class="form-control" id="profile-pic" required>
                                                                <label class="input-group-text" for="profile-pic">Upload</label>
                                                                </div>
                                                            </div>
                                                            <div class="edit-picture modal-footer d-flex justify-content-center">
                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                                <button type="submit" class="btn btn-primary">Save change</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <h5 class="card-title text-center pb-2">{{loggedInUser.username}}</h5>
                                <dl class="row">
                                    <dt class="col-sm-3">Name:</dt>
                                    <dd class="col-sm-9">{{loggedInUser.name}}</dd>

                                    <dt class="col-sm-3">Phone Number:</dt>
                                    <dd class="col-sm-9">(+84) {{loggedInUser.phone_number}}</dd>

                                    <dt class="col-sm-3">Address:</dt>
                                    <dd class="col-sm-9">{{loggedInUser.address}}</dd>
                                </dl>
                            </div>
                        </div>
                        {{/if}}
                        <!--Vendor Profile-->
                        {{#if check_vendor}}
                        <div class="card">
                            <div class="card-header">
                                My Profile
                            </div>
                            <div class="card-body">
                                <div class="upload my-3">
                                    <img src="data:image/png;base64,{{loggedInUser.img}}" alt="">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="round border border-0" data-bs-toggle="modal" data-bs-target="#editpictureModal"><i class = "fa fa-camera" style = "color: #fff;"></i></button>
                                    <!-- Modal -->
                                    <div class="edit-picture modal fade" id="editpictureModal" tabindex="-1" aria-labelledby="editpictureModalLabel" aria-hidden="true">
                                        <div class="edit-picture modal-dialog modal-dialog-centered">
                                            <div class="edit-picture modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="editpictureModalLabel">Edit Profile Picture</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row justify-content-center row-gap-3">
                                                        <form id="add-product-form"  action="/customer-account/{{loggedInUser.user_id}}/update" method="post" enctype="multipart/form-data" class="col-md-8 col-10 bg-light p-3 my-3 rounded">
                                                            <div class="form-group mb-2">
                                                                <label for="profile-pic" class="form-label">Profile Picture:</label>
                                                                <div class="input-group mb-3">
                                                                <input type="file" name="image" class="form-control" id="profile-pic" required>
                                                                <label class="input-group-text" for="profile-pic">Upload</label>
                                                                </div>
                                                            </div>
                                                             <div class="edit-picture modal-footer d-flex justify-content-center">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                    <button type="submit" class="btn btn-primary">Save change</button>
                                                </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h5 class="card-title text-center pb-2">{{loggedInUser.username}}</h5>
                                <dl class="row">
                                    <dt class="col-sm-3">Business Name:</dt>
                                    <dd class="col-sm-9">{{loggedInUser.bussiness_name}}</dd>

                                    <dt class="col-sm-3">Business Phone Number:</dt>
                                    <dd class="col-sm-9">(+84) {{loggedInUser.phone_number}}</dd>

                                    <dt class="col-sm-3">Business Address:</dt>
                                    <dd class="col-sm-9">{{loggedInUser.bussiness_address}}</dd>
                                </dl>
                            </div>
                        </div>
                        {{/if}}
                        <!--Shipper Profile-->
                        {{#if check_shipper}}
                        <div class="card">
                            <div class="card-header">
                                My Profile
                            </div>
                            <div class="card-body">
                                <div class="upload my-3">
                                    <img src="data:image/png;base64,{{loggedInUser.img}}" alt="">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="round border border-0" data-bs-toggle="modal" data-bs-target="#editpictureModal"><i class = "fa fa-camera" style = "color: #fff;"></i></button>
                                    <!-- Modal -->
                                    <div class="edit-picture modal fade" id="editpictureModal" tabindex="-1" aria-labelledby="editpictureModalLabel" aria-hidden="true">
                                        <div class="edit-picture modal-dialog modal-dialog-centered">
                                            <div class="edit-picture modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="editpictureModalLabel">Edit Profile Picture</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row justify-content-center row-gap-3">
                                                        <form id="add-product-form" action="/customer-account/{{loggedInUser.user_id}}/update" method="post" enctype="multipart/form-data" class="col-md-8 col-10 bg-light p-3 my-3 rounded">
                                                            <div class="form-group mb-2">
                                                                <label for="profile-pic" class="form-label">Profile Picture:</label>
                                                                <div class="input-group mb-3">
                                                                <input type="file" name="image" class="form-control" id="profile-pic" required>
                                                                <label class="input-group-text" for="profile-pic">Upload</label>
                                                                </div>
                                                            </div>
                                                            <div class="edit-picture modal-footer d-flex justify-content-center">
                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                                <button type="submit" class="btn btn-primary">Save change</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h5 class="card-title text-center pb-2">{{loggedInUser.username}}</h5>
                                <dl class="row">
                                    <dt class="col-sm-3">Name:</dt>
                                    <dd class="col-sm-9">{{loggedInUser.name}}</dd>

                                    <dt class="col-sm-3">Phone Number:</dt>
                                    <dd class="col-sm-9">(+84) {{loggedInUser.phone_number}}</dd>

                                    <dt class="col-sm-3">Distribution Hub:</dt>
                                    <dd class="col-sm-9">{{loggedInUser.distribution_hub}}</dd>
                                </dl>
                            </div>
                        </div>
                        {{/if}}
                    </div>

                    {{#if check_customer}}
                    <!--Only Customer has 'My Orders'-->
                    <div id="item-2" class="container my-5">
                        <h3>My Orders</h3>
                        <hr>
                        <div class="order-wrapper container mb-3">
                            <div class="order-shop pt-3"></div>
                            <hr>
                            <div class="order-content">
                                <div class="order-details">
                                    {{#each products}}
                                    <div class="order-columns">
                                        <div class="order-info-product px-3">
                                            <h4>{{this.product_name}}</h4>
                                            <p>Category: {{this.category}}
                                                <br>Quantity: 1
                                            </p>
                                        </div>
                                        <div class="order-product-img">
                                            <div>
                                                <img src="data:image/png;base64,{{this.img}}" alt="">
                                            </div>
                                        </div>
                                        <div class="order-product-price">
                                            <p>${{this.price}}</p>
                                        </div>
                                    </div>
                                    <!--If there are more products-->
                                    <hr>
                                    {{/each}}
                                    <div class="order-columns">
                                        <div class="order-info-product px-3">
                                            <h4>Iphone 13</h4>
                                            <p>Category: Phone
                                                <br>Quantity: 1
                                            </p>
                                        </div>
                                        <div class="order-product-img">
                                            <div>
                                                <img src="image/example-order.jpeg" alt="">
                                            </div>
                                        </div>
                                        <div class="order-product-price">
                                            <p>747.000</p>
                                        </div>
                                    </div>
                                    <!--If there are more products-->
                                    <hr>
                                    <div class="order-columns">
                                        <div class="order-info-product px-3">
                                            <h4>Iphone 13</h4>
                                            <p>Category: Phone
                                                <br>Quantity: 1
                                            </p>
                                        </div>
                                        <div class="order-product-img">
                                            <div>
                                                <img src="image/example-order.jpeg" alt="">
                                            </div>
                                        </div>
                                        <div class="order-product-price">
                                            <p>747.000</p>
                                        </div>
                                    </div>
                                    <!---->
                                </div>

                            </div>
                            <hr>
                            <div class="order-total pb-3">
                                Total: 1.494.000
                            </div>
                        </div>
                        {{/if}}

                    </div>
                </div>
            </div>
    </main>
    {{#if check_customer}}
    {{> footer}}
    {{/if}}
</body>

