{{!-- RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 2
Author and ID: Linh(s3978387)
Acknowledgement: Acknowledge the resources that you use here.--}}

<body>
    <div class="container my-5">
        <nav class="navbar fixed-top bg-body-tertiary px-0">
            <div class="container" id="shipper">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="fw-semibold fs-1"> Lazada Shipper</div>
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
                    aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header border-bottom">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link" href="/shipper">Active Orders</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/delivered-orders"> Delivered Orders</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa-solid fa-circle-user"></i> My Account</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Log
                                    out</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="map mt-4">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31355.765283069453!2d106.67776292477018!3d10.77521852909101!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f38f9ed887b%3A0x14aded5703768989!2sDistrict%201%2C%20Ho%20Chi%20Minh%20City%2C%20Vietnam!5e0!3m2!1sen!2s!4v1684313234794!5m2!1sen!2s"
            width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="py-5" id="content">
        <div class="row">
            <div class="col-md-6 col-12 align-items-center">
                <h1 class="ms-5">Parcel Information</h1>
            </div>
            <div class="col-md-6 col-12">
                {{!-- Static button --}}
                <div class="d-grid gap-2 me-5 d-flex justify-content-md-end justify-content-around ms-5 ms-md-0 mt-1">
                    <button class="btn btn-outline-dark me-md-2" id="confirm-delivered" type="button"> <i
                            class="fa-solid fa-camera"></i> Take Parcel Photo</button>
                    <button class="btn btn-outline-dark" id="cancel-order" type="button"><i
                            class="fa-solid fa-file-import"></i> Upload Parcel Photo</button>
                </div>
                {{!-- Static button --}}
            </div>
        </div>
        <div class="table-responsive mx-4 my-3">
            <table class="table">
                {{#each customer_list}}
                <thead>
                    <tr>
                        <th class="col-4 text-primary" scope="col">Tracking Number:</th>
                        <th scope="col">{{this.id}}</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr>
                        <th class="text-primary" scope="row">Receiver's Name</th>
                        <td>{{this.name}}</td>
                    </tr>
                    <tr>
                        <th class="text-primary" scope="row">Receiver's Address</th>
                        <td>{{this.address}}</td>
                    </tr>
                    <tr>
                        <th class="text-primary" scope="row">Receiver's Phone Number</th>
                        <td>{{this.phone_number}}</td>
                    </tr>
                </tbody>
                {{/each}}
            </table>
        </div>
        <h2 class="ms-5">Product List:</h2>

        {{#each products}}
        <div class="row bg-light mx-4 mb-3 align-items-center">
            <div class="col-md-2 col-3 p-1">
                <img class="img-fluid border border-secondary-subtle" id="parcel-product"
                    src="data:image/png;base64,{{this.img}}" alt="">
            </div>
            <div class="col-md-10 col-9">
                <table class="table product">
                    <tr>
                        <th class="text-primary col-5 col-sm-4" scope="row">Sender:</th>
                        <td>{{this.owner}}</td>
                    </tr>
                    <tr>
                        <th class="text-primary col-4" scope="row">Product Name:</th>
                        <td>{{this.product_name}}</td>
                    </tr>
                    <tr>
                        <th class="text-primary" scope="row">Price:</th>
                        <td>${{this.price}}</td>
                    </tr>
                    <tr>
                        <th class="text-primary" scope="row">Quantity:</th>
                        <td>{{this.quantity}}</td>
                    </tr>
                </table>
            </div>
        </div>
        {{/each}}
        <div class="d-grid gap-2 me-5 d-flex justify-content-md-end justify-content-around ms-5 ms-md-0">
            <a href="/{{id}}/parcel-info/delete"><button class="btn btn-success me-md-2" id="confirm-delivered" type="button">Confirm Delivered</button></a>
            <a href="/shipper"><button class="btn btn-warning" id="cancel-order" type="button">Cancel Order</button></a>
        </div>
        <div>
            <h2 class="text-primary ms-5">Total (including shipping fee): ${{total_spent}}</h2>
        </div>
    </div>
</body>

</html>