<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>

    {{!-- Bootstrap --}}
    <link href="https:/cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    {{!-- Css --}}
    <link href="css/homepage.css" rel="stylesheet">
    {{!-- fontawsome embedded --}}
    <script src="https:/kit.fontawesome.com/3b3da2da02.js" crossorigin="anonymous"></script>



</head>

<body>
    {{> homepage_header}}

    <div class="search container">
        <div class="search info">
            <div class="search-info 1">
                <h1>Showing results for "{{searchTerm}}"</h1>
            </div>
            <div class="search-info 2">
                <span>Showing {{products.length}} results</span>
            </div>
            <div class="sort-by">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Sort By
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="/search?q={{searchTerm}}">Best Matched</a>
                    </li>
                    <li><a class="dropdown-item" href="/search?q={{searchTerm}}&sort=price_low">Price Low to High</a>
                    </li>
                    <li><a class="dropdown-item" href="/search?q={{searchTerm}}&sort=price_high">Price High to Low</a>
                    </li>
                </ul>
            </div>


        </div>
        <div class="book-container">
            {{!-- Books products go here --}}
            {{#if products.length}}
            <ul>
                {{#each products}}
                <li>{{this.product.product_name}}</li>
                {{/each}}
            </ul>
            {{else}}
            <p>No results found.</p>
            {{/if}}
            {{#if products.length}}
            {{#each products}}
            <div class="col">
                <div class="card">
                    <a href="/home/{{this._id}}/product-detail" class="product_detail">
                        <div class="product-img" width="320px" height="322px">
                            <img src="data:image/png;base64,{{this.img}}" class="card-img-top" alt="..." width="inherit"
                                , height="inherit">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title sub">{{this.product_name}}</h5>
                            <p class="price">$ {{this.price}}</p>
                            <div class="stars">
                                <i class="fa-solid fa-star" style="color: #ffdd00;"></i>
                                <i class="fa-solid fa-star" style="color: #ffdd00;"></i>
                                <i class="fa-solid fa-star" style="color: #ffdd00;"></i>
                                <i class="fa-solid fa-star" style="color: #ffdd00;"></i>
                                <i class="fa-solid fa-star" style="color: #ffdd00;"></i>
                            </div>
                            <a href="#" class="tmain_btn_warning btn btn-warning mt-2">More Details</a>
                        </div>
                    </a>
                </div>
            </div>
            {{/each}}
            {{else}}
            <p>No products found.</p>
            {{/if}}

        </div>
    </div>

    {{> footer}}


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
        integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
        integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
        crossorigin="anonymous"></script>

    <script src="https:/cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>